<mat-card>
  <mat-card-header>
    <mat-card-title>Mine Sweeper</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button (click)="start()">
      @if(game) { <span>Reset</span> } @else { <span>Start</span> }
    </button>
    <button mat-raised-button (click)="changeLevel()">Change Level</button>
  </mat-card-actions>
  <mat-card-footer>
    @if (message) {
      <div class="box message">
        {{ message }}
      </div>
    } @else {
      <div class="box details">
        <div>Remaining mines: {{ mines - status.marked | count }}</div>
        <div>Elapsed time: {{ time | elapsedTime }}</div>
      </div>
    }
  </mat-card-footer>
</mat-card>

<!-- Játék tábla -->
@if (game) {
  <table class="text-center">
    @for (row of map; track row) {
      <tr>
        @for (col of row; track col) {
          <td>
            <app-tile
              [mine]="col"
              (leftClick)="leftClick($event)"
              (bomb)="bomb()"
              (rightClick)="rightClick($event)"
            ></app-tile>
          </td>
        }
      </tr>
    }
  </table>
}
