:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

mat-card {
  width: 100%;
}

.col-12 {
  margin: 0;
}
table {
  margin: auto;
}
#group {
  margin: 1rem;
  padding: 1rem;
}
button {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#downside {
  margin: 0.5rem;
  font-weight: bold;
  margin-bottom: 0;
}
#downside div {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
