<!-- Gomb -->
<button
  (click)="leftClick()"
  (contextmenu)="rightClick($event)"
  class="btn border rounded text- {{
    mine.value >= 0 && mine.isVisible ? 'color' + mine.value : ''
  }} {{ mine.isMarked ? 'mark' : '' }} {{
    mine.isVisible && mine.isMine ? 'mine' : ''
  }}"
>
  <!-- Sima érték-->
  <span *ngIf="mine.isVisible && !mine.isMine">{{ mine.value }}</span>

  <!-- Bomba érték -->
  <span *ngIf="mine.isVisible && mine.isMine" class="fas fa-bomb"></span>

  <!-- Jelölt érték -->
  <span *ngIf="!mine.isVisible && mine.isMarked">&#9873;</span>
</button>
